button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
}
button:focus,
button:hover {
  color: white;
  background-color: limegreen;
  outline: none;
}
